@property --color1 {
  syntax: "<color>";
  initial-value: #05ff00;
  inherits: false;
}

@property --color2 {
  syntax: "<color>";
  initial-value: #07f4c6;
  inherits: false;
}

@property --color3 {
  syntax: "<color>";
  initial-value: #004dff;
  inherits: false;
}

@property --color4 {
  syntax: "<color>";
  initial-value: #990fff;
  inherits: false;
}

.gradient-action-btn {
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3),
    var(--color4)
  );
  transition: --color1 500ms, --color2 500ms, --color3 500ms, --color4 500ms;
}

.gradient-action-btn:hover {
  --color1: #fa01f6;
  --color2: #fe012e;
  --color3: #ede401;
  --color4: #84ff00;
}
