@property --myColor1 {
  syntax: "<color>";
  initial-value: #05ff00;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #07f4c6;
  inherits: false;
}

@property --myColor3 {
  syntax: "<color>";
  initial-value: #004dff;
  inherits: false;
}

@property --myColor4 {
  syntax: "<color>";
  initial-value: #990fff;
  inherits: false;
}

.gradient-action-btn {
  background: linear-gradient(
    to right,
    var(--myColor1),
    var(--myColor2),
    var(--myColor3),
    var(--myColor4)
  );
  transition: --myColor1 500ms, --myColor2 500ms, --myColor3 500ms,
    --myColor4 500ms;
}

.gradient-action-btn:hover {
  --myColor1: #fa01f6;
  --myColor2: #fe012e;
  --myColor3: #ede401;
  --myColor4: #84ff00;
}
